<h2> Register an Account
  <small class="text-muted">Welcome to GW2Slots!</small>
</h2>

<div class="row">
  <div class="col-sm">
    <p>
      To register, you must have an active, non-trial Guild Wars 2 account. That
      means you must own the base game, Heart of Thorns, or Path of Fire. Your
      GW2Slots account will be linked to your main Guild Wars 2 account so we can
      recognize item transfers.
    </p>

    <form (ngSubmit)="trySubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Your new username"
          [(ngModel)]="model.username"
        />
        <div *ngIf="invalid.username" class="text-danger">
          <icon name="stop"></icon>
          <span *ngIf="invalid.username=='missing'">
            Username is required.
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Your new password"
          [(ngModel)]="model.password"
        />
        <small id="emailHelp" class="form-text text-muted">
          Please do not use the same password as your Guild Wars 2 account.
        </small>
        <div *ngIf="invalid.password" class="text-danger">
          <icon name="stop"></icon>
          <span *ngIf="invalid.password=='missing'">
            Password is required to be input twice.
          </span>
          <span *ngIf="invalid.password=='nomatch'">
            Input passwords do not match.
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password2">Password</label>
        <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat your password"
          [(ngModel)]="model.passwordVerify"
        />
      </div>

      <div class="form-group">
        <label for="apiKey">Guild Wars 2 Account API Key</label>
        <input type="text" class="form-control" name="apiKey" id="apiKey"
          placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXXXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
          [(ngModel)]="model.apiKey"
          />
        <small id="apiKeyHelp" class="form-text text-muted">
          Need to get an API key? Use ArenaNet's
          <a href="https://account.arena.net/applications" target="_blank">official account site</a>.
          GW2Slots does not save your API Key after initial verification.
        </small>
        <div *ngIf="invalid.apiKey" class="text-danger">
          <icon name="stop"></icon>
          <span *ngIf="invalid.apiKey=='missing'">
            API key is required.
          </span>
        </div>

      </div>

      <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
  </div>
  <div class="col-sm-4">
    <img class="img-fluid" src="https://static.staticwars.com/quaggans/cheer.jpg" />
  </div>
</div>

<div class="modal fade" #registrationNotification>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 [class]="(registrationSuccess$ | async) ? 'd-block' : 'd-none'" class="modal-title">
          Registration Successful!
        </h5>
        <h5 [class]="!(registrationSuccess$ | async) ? 'd-block' : 'd-none'" class="modal-title">
          Registration Failed!
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div [class]="(registrationSuccess$ | async) ? 'd-block' : 'd-none'">
          <p>
            Welcome! You have successfully registered the GW2Slots account
            <em>{{registeredAccountName$ | async}}</em>
            and connected it to the Guild Wars 2 account
            <em>{{registeredGameName$ | async}}</em>.
          </p>
          <p> You can now log in using the password you provided.</p>
        </div>

        <div [class]="!(registrationSuccess$ | async) ? 'd-block' : 'd-none'">
          <p> Oh no! Your registration attempt failed. The server said: </p>
          <blockquote><em>{{registrationError$ | async}}</em></blockquote>
          <p> If you continue to have problems, please contact an administrator. </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="resetRegistration()">OK</button>
      </div>
    </div>
  </div>
</div>
