@import "../common/fonts.scss";

h1 {
  font-family: gw2title;
}

md-card.login [md-card-avatar] {
  background-image: url('https://render.guildwars2.com/file/32633AF8ADEA696A1EF56D3AE32D617B10D3AC57/157353.png');
  background-size: cover;
}
