<global-styles></global-styles>
<h1>
  Hello, Angular!
</h1>
<p>
  This is a test of fonts and other UI components.
  <button md-raised-button>BLAH</button>
</p>
<md-card class="login">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Log in</md-card-title>
    <md-card-subtitle>Log in</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      <md-form-field>
        <input mdInput type="text" placeholder="username" />
      </md-form-field>
      <md-form-field>
        <input mdInput type="password" placeholder="password" />
      </md-form-field>
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Submit</button>
    <button md-button>Cancel</button>
  </md-card-actions>
</md-card>

<p>
  <button md-raised-button>Click me!</button>
</p>
<div>
  Check it out, a progress spinner! <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
