<ng-template [ngIf]="!(loggedIn$ | async)">
  <form class="d-inline" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" name="loginUsername" placeholder="Username" aria-label="Username" [(ngModel)]="inputUsername">
    <input class="form-control mr-sm-2" type="password" name="loginPassword" placeholder="Password" aria-label="Password" [(ngModel)]="inputPassword">
    <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2" type="submit">Log In</button>
  </form>
  <a class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2" [routerLink]="['registration']">Register</a>
</ng-template>

<ng-template [ngIf]="loggedIn$ | async">
  <span>
    {{username$ | async}}
    <span class="text-muted">({{gameName$ | async}})</span>
  </span>
  <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2" type="submit" (click)="logout()">Log Out</button>
</ng-template>
