@font-face {
    font-family: gw2title;
    src: url('~fonts/GWTwoFont1p1.ttf');
}

@font-face {
    font-family: gw2map;
    src: url('~fonts/menomonia.eot');
    src: url('~fonts/menomonia.eot?#iefix') format('embedded-opentype'),
         url('~fonts/menomonia.woff') format('woff'),
         url('~fonts/menomonia.ttf') format('truetype'),
         url('~fonts/menomonia.svg#MenomoniaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
