<h1> About GW2 Slots </h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lectus lacus, vulputate ut tortor nec, mollis luctus lectus. Duis viverra, ex eget tempus maximus, libero magna posuere metus, eu tristique dolor libero at risus. In gravida, nisl a porta semper, lacus arcu consectetur nibh, ac convallis nibh dui eu nisi. In non rutrum nulla. Fusce ut libero blandit, dictum ligula quis, maximus felis. Duis vel urna arcu. Donec interdum elementum elementum. Suspendisse laoreet feugiat ligula, eget feugiat sapien posuere in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tincidunt augue, eu accumsan metus. Sed ultrices neque ac enim accumsan venenatis. Vivamus eu turpis metus. Sed ut rutrum nulla.
</p>

<h2> Who maintains it? </h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec mi eros. Integer lobortis, dui vitae ullamcorper viverra, justo sem porttitor erat, id elementum ligula ex ut sem. Etiam auctor elit vel sem dignissim, at fringilla turpis auctor. Nulla facilisi. Donec eget dolor consequat, ultricies justo sollicitudin, elementum justo. Phasellus cursus vulputate egestas. Sed quam turpis, semper sed mauris sit amet, dignissim hendrerit lorem. Mauris imperdiet tortor risus, non molestie neque luctus id. Suspendisse urna libero, tincidunt ac lorem sed, aliquet imperdiet tellus.
</p>

<h2> For nerds </h2>

<p>
  <button class="btn btn-outline-secondary" (click)="refreshAPIStatus()">
    <icon name="sync"></icon>
  </button>
  API Status:
  <code>{{apiHost$ | async}}</code>
  <span *ngIf="apiStatusUnknown$ | async">
    <span class="badge badge-warning">
      <icon name="zap"></icon> Unknown
    </span>
    Try refreshing it?
  </span>
  <span *ngIf="apiStatusUp$ | async">
    <span class="badge badge-success">
      <icon name="check"></icon> Up
    </span>
  </span>
  <span *ngIf="apiStatusDown$ | async">
    <span class="badge badge-danger">
      <icon name="flame"></icon> Error!
    </span>
    <code>{{apiError$ | async}}</code>
  </span>
</p>
